body {
  background: #06bcc1 !important;
}

.container {
  border: 1px solid #000;

  display: flex;
  width: 95%;
  height: 100vh;
  text-align: center;
}

.quotes {
  border: 10px solid #f4d1ae;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 450px;
  margin: auto;
  padding: 0 50px;
  color: gray;
  background-color: #f4edea;
}

.quotes p,
h3 {
  font-size: 1.5rem;
}
